body{
    background-image: linear-gradient(#2980B9, #6DD5FA,#FFFFFF);
    width: 100vw;
    height: 100vh;
}
.headtitle{
    justify-content: center;
    margin: 10% auto 2% auto;
    display: flex;
}
.headtitle p{
    margin: 0 10px;
    font-size: 40px;
    color: #FFFFFF;
}
.headtitle button{
    background: transparent;
    border: 0;
    outline: 0;
}
.plusimg{
    width: 40px;
    height: 40px;
}
#todo_list{
    width: 550px;
    height: 40px;
    color:#FFFFFF;
    font-size: 40px;
    background-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 1px solid #FFFFFF;
    margin: 10px 10px;
}
.para{
    width: 550px;
    margin: 10px;
    color:#FFFFFF;
    font-size: 40px;
    word-break: break-all;
    display: flex;
}
.para p{
    margin: 0 10px 0 0;
}
.ischeck{
    width: 30px;
}
/* #todo_list:hover{
    border-bottom: 1px solid #FFFFFF;
} */
.inputTagSection{
    width: 610px;
    margin: 0 auto;
}
.submitSection{
    width: 150px;
    margin: 15px auto;
}
#submitbtn{
    width: 150px;
    height: 50px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    opacity: 0;
}
